:root{
    --shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --header: #6D1A36;
    --bg: #F3F4F6;
    --footer: oklch(27.8% 0.033 256.848);
    --titulo: oklch(21% 0.034 264.665);
    --texto: oklch(44.6% 0.03 256.802);
    --botones: rgb(123, 16, 52);
    --btnhover: #872647;
    --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --txt-gris: #6a7282;
    --txt-xs: 0.75rem;
    --borde: #E8E9EA 1px solid;
    --rounded-full: calc(infinity * 1px);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
}

header{
    position: sticky;
    top: -3px;
    z-index: 500;
    background-color: var(--header);
    padding: 2rem;
    box-shadow: var(--shadow);
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#menu{
    display: none;
}

.asd{
    cursor: default;
}

.header-imgs img{
    display: inline-block;
    background-color: white;
    width: 80px;
    height: 60px;
    padding: 5px;
    border-radius: 6px;
    aspect-ratio: 16 / 9;
    margin-right: 20px;
    object-fit: cover;
}

.ipn{
    padding: 0;
}

ul{
    display: block;
    margin-bottom: 0;
}

ul li{
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}

ul a{
    color: white;   
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    border-radius: 6px;
}

ul li:not(.inicio>li):hover{
    background-color: #8d1a46;
}

.inicio>li{
    background-color: #DADCE0;
}

.inicio>li:hover{
    background-color: #CBBCC5;
}

.inicio{
    color: black;
}

.izq{
    display: flex;
}

header > div{
    display: inline-block;
    color: white;
}

header h4{
    margin: 0;
    font-weight: bold;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo p{
    margin: 0;
    color: #DFDCE2;
}

/* Fin header */

main{
    padding: 0.5rem 1rem;
    padding-bottom: 32px;
}

.tit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.tit h1{
    padding-bottom: 0.25rem;
}

.tit h1, .tit p{
    margin: 0;
}

.tit button{
    display: block;
    background-color: var(--botones);
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border-radius: 0.75rem;
    border: none;
    border-color: var(--header);
}

.tit button:hover{
    background-color: var(--btnhover);
}

.tit span{
    position: relative;
    bottom: 10px;
    height: 20px;
    font-size: x-large;
    margin-right: 0.5rem;
}

.tit h1{
    color: var(--header);
    font-weight: bold;
    font-size: 1.75rem;
}

.int p{
    color: var(--txt-gris);
}

.cartas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 1.5rem
}

.cartas article{
    background-color: white;
    padding: 16px 20px;
    border-radius: 0.75rem;
    border: var(--borde);
    box-shadow: var(--shadow-sm);
}

.cartas article :first-child{
    font-size: 0.75rem;
    color: var(--txt-gris);
}

.cartas article p{
    margin: 0;
}

.a, .b, .c, .d{
    font-size: 1.5rem;
    font-weight: bold;
}
.a{
    color: var(--botones);
}
.b{
    color: #2563EB;
}
.c{
    color: #059669;
}
.d{
    color: #D97706;
}

.table-responsive {
    width: 100%;
    box-shadow: var(--shadow-sm);
    border: #E8E9EA 1px solid;
    border-radius: 0 0 1rem 1rem;
    overflow-x: auto;
    background-color: white;
}

.cont-buscar{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 12px 16px;
    gap: 0.75rem;
    border-radius: 1rem 1rem 0 0;
}

.buscar{
    width: 100%;
    outline: none;
    border: none;
}


table {
    width: 100%;
    border-collapse: collapse; /* Quitar los espacios vacíos entre celdas */
    min-width: 800px;
    border-radius: 0 0 1rem 1rem;
}

thead {
    color: rgb(123, 16, 52);
    background-color: rgb(245, 232, 237);
    font-size: 0.75rem;
    font-weight: 600;
}

th, td {
    padding: 12px 16px;
    text-align: left;
    vertical-align: middle;
}

tbody tr:nth-child(odd){
    background-color: white;
}

tbody tr:nth-child(even){
    background-color: oklch(98.5% 0.002 247.839);
}

.boleta, .email, .lab{
    font-size: var(--txt-xs);
    color: oklch(44.631% 0.03692 258.925);  /* gray-700 */
}

.nombre{
    font-weight: 500;
    font-size: 0.9rem;
}

.entidad{
    font-size: 0.9rem;
}

.lab, .horario {
    white-space: nowrap;
}

.horario > span{
    background-color: rgb(254, 243, 199);
    color: rgb(180, 83, 9);
    font-size: 0.73rem;
    padding: 2px 8px;
    border-radius: var(--rounded-full);
}

.horario svg{
    position: relative;
    bottom: 1px;
}

.hora{
    padding-left: 2px;
}

.horario span{
    font-weight: 500;
}

.grupo span{
    background-color: rgb(37, 99, 235);
    color: white;
    font-size: var(--txt-xs); 
    padding: 0.125rem 0.5rem;
    border-radius: calc(infinity * 1px);
}

thead th:last-child{
    padding-left: 20px;
}

.acciones div{
    white-space: nowrap;
}

.acciones button{
    border: none;
    background: none;
    padding: 4px 8px;
}

.acciones button:nth-child(1){
    color: oklch(44.631% 0.03692 258.925);
}
.acciones button:nth-child(1):hover{
    background-color: #F9FAFB;
}
.acciones button:nth-child(2){
    color: rgb(37, 99, 235);
}
.acciones button:nth-child(2):hover{
    background-color: #eff6ff;
}
.acciones button:nth-child(3){
    color: red;
}
.acciones button:nth-child(3):hover{
    background-color: oklch(97.1% 0.013 17.38);
}


/* Inicio footer */

a{
    text-decoration: none;
}

.ir:hover{
    background-color: #8d1a46;
}

footer{
    background-color: var(--footer);
    color: white;
}

div.container.text-center{
    display: flex;
    flex-direction: column;
}

footer a{
    color: #9097A6;
    text-decoration: none;
}

footer div.mt-2{
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 1055px) {
    .titulo{
        display: none;
    }
}

@media only screen and (max-width: 808px) {
    
    header{
        justify-content: space-between;
        z-index: 99999 !important;
    }

    #menu{
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 1.8rem;
        margin-left: auto;  /* waos */
        padding: 4px 12px;
        border-radius: 6px;
    }

    #menu:hover{
        background-color: #8d1a46;
    }

    ul a{
        color: black !important;
    }

    .inicio>li{
        background: none;
    }

    .inicio:hover, .inicio li:hover, ul a:hover{
        background-color: #DADCE0 !important;
    }

    li:hover{
        background-color: #DADCE0 !important;
    }

    #cerrar{
        display: block;
        background: none;
        border: none;
        font-size: 1.5rem;
    }

    .asd{
        display: flex;
        justify-content: end;
    }
    .asd:hover{
        background-color: white !important;
    }

    .pantalla-moderna {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(8px);
        z-index: 9998 !important;
    } 

    ul{
        background-color: white;
        position: fixed;
        top: 0;
        right: -50%;
        z-index: 99999 !important;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100dvh;
        transition: right 0.3s ease;
    }

    ul.activo{ 
        right: 0 !important; 
    }


}


@media only screen and (min-width: 808px){
    #cerrar{
        display: none;
    }
}

@media only screen and (max-width: 576px) {

    footer a{
        font-size: 0.75rem;
    }

    h1{
        font-size: 1.75rem;
    }

    .tre p{
        margin: 0 auto !important;
        width: 90% !important;
        margin-bottom: 24px !important;
    }
    
    ul {
        width: 70%;
        right: -70%;
    }
}

@media only screen and (min-width: 566px) and (max-width: 576px){
    ul{
        transition: none;   
    }
}


/* Main */

@media only screen and (max-width: 700px) {

    .tit{
        flex-direction: column;
    }

    .int p{
        padding-bottom: 2rem;
    }

    .tit button{
        width: 100%;
    }

    .cartas article:first-child{
        grid-column: 1/3;
    }
    .cartas article:nth-child(2){
        grid-column: 3/5;
    }
    .cartas article:nth-child(3){
        grid-column: 1/3;
    }
    .cartas article:nth-child(4){
        grid-column: 3/5;
    }
}