:root{
    --shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --header: #6D1A36;
    --bg: #F9FAFB;
    --footer: oklch(27.8% 0.033 256.848);
    --titulo: oklch(21% 0.034 264.665);
    --texto: oklch(44.6% 0.03 256.802);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
}

header{
    position: sticky;
    top: -3px;
    z-index: 500;
    background-color: var(--header);
    padding: 2rem;
    box-shadow: var(--shadow);
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.header-imgs > img{
    display: inline-block;
    background-color: white;
    width: 80px;
    height: 60px;
    padding: 5px;
    border-radius: 6px;
    aspect-ratio: 16 / 9;
    margin-right: 20px;
    object-fit: cover;
}

.ipn{
    padding: 0;
}

.ipn1{
    width:auto;
    height:11vh;
}
.escom1{
    width:auto;
    height:8vh;
}

ul{
    display: block;
    margin-bottom: 0;
}

ul li{
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}

ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
}

ul>li:not(.registro):hover{
    background-color: #8d1a46;
}

.registro{
    background-color: #DADCE0;
}

.registro:hover{
    background-color: #CBBCC5;
}

.registro a{
    color: black;
}

.izq{
    display: flex;
}

header > div{
    display: inline-block;
    color: white;
}

header h4{
    margin: 0;
    font-weight: bold;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo p{
    margin: 0;
    color: #DFDCE2;
}

h1{
    font-size: 2.25rem;
}
h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
h1, h2{
    font-weight: bold;
    color: var(--titulo);
    text-align: center;
}

main{
    /*background-color: rgb(188, 0, 0);*/
    
}


main p{
    color: var(--texto);
}

main section:first-child{
    text-align: center;
    width: 60%;
    margin: auto;
}

main section:first-child > h1{
    margin-bottom: 1rem;
}
main section:first-child > p{
    margin-bottom: 3rem;
    font-size: 1.25rem;
}

section{
    margin:auto;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /*background-color: #8d1a46;*/
   height: 18vh;
}

.correcto{
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(132, 203, 132, 0.26);
    border: 1px solid rgb(44, 181, 92);
    border-radius: 25px;  
    align-items: center;
    padding-left:1vw;
}

.texto_correcto{

    text-align: start;
    display: flex;
    flex-direction: column;
    padding-right:1vw;
    padding-left: 1vw;
    justify-content: center;
}

.sub_correcto{
    font-weight: 700;
    font-size: 1.2em;
}

#info{
    background-color: aqua;
    height: 60vh;
}
.acuse_registro{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.acuse_cabecera{
    display: flex;
    flex-direction: row;
    background-color: #CBBCC5;
}

.titulo_acuse{
    display: flex;
    flex-direction: column;
    background-color: #6D1A36;
}

.acuse_cuerpo{
    display: flex;
    flex-direction: column;
    background-color: #8d1a46;
}

.acuse_contenido{
    display: flex;
    flex-direction: row;
}
main{
    gap:6vh;
    display: flex;
    flex-direction: column;
}

main section:nth-child(3){
    background-color: #EFF6FF;
    text-align: center;
    width: 95%;
    margin: auto;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

h5{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

main section:nth-child(3) p{
    width: 70%;
    margin: auto;
    margin-bottom: 1.5rem;
}

main section:nth-child(3) a{
    display: inline-block;
    background-color: var(--header);
    padding: 0.75rem 2rem;
    border-radius: 8px;
    color: white;
    font-weight: 500;
}

a{
    text-decoration: none;
}

.ir:hover{
    background-color: #8d1a46;
}

footer{
    background-color: var(--footer);
    color: white;
}

div.container.text-center{
    display: flex;
    flex-direction: column;
}

footer a{
    color: #9097A6;
    text-decoration: none;
}

footer div.mt-2{
    display: flex;
    flex-direction: column;
}

#menu{
    display: none;
}

select{
    width: 100%;
}

#contenedor-otra-escuela{
    display: none;
}

#contenedor-otra-escuela input{
    width: 100%;
}
@media only screen and (max-width: 1055px) {
    .titulo{
        display: none;
    }
}

@media only screen and (max-width: 808px) {
    
    header{
        justify-content: space-between;
        z-index: 99999 !important;
    }

    #menu{
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 1.8rem;
        margin-left: auto;  /* waos */
        padding: 4px 12px;
        border-radius: 6px;
    }

    #menu:hover{
        background-color: #8d1a46;
    }

    ul a{
        color: black !important;
    }

    .inicio{
        background-color: white;
    }

    .inicio:hover, li:hover{
        background-color: #DADCE0 !important;
    }

    #cerrar{
        display: block;
        background: none;
        border: none;
        font-size: 1.5rem;
    }

    .asd{
        display: flex;
        justify-content: end;
    }
    .asd:hover{
        background-color: white !important;
    }

    .pantalla-moderna {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(8px);
        z-index: 9998 !important;
    } 

    ul{
        background-color: white;
        position: fixed;
        top: 0;
        right: -50%;
        z-index: 99999 !important;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100dvh;
        transition: right 0.3s ease;
    }

    ul.activo{ 
        right: 0 !important; 
    }
    
    form{
        gap:8vh;
    }


}

@media only screen and (max-width: 769px) {
    section > div{
        grid-template-columns: 1fr;
    }

    
}

@media only screen and (min-width: 808px){
    #cerrar{
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .cartas{
        width: 95%;
        margin: auto;
    }

    #carouselExampleCaptions{
        width: 95%;
    }

    main section:first-child{
        width: 90%;
        margin: auto;
    }

    main section:first-child > h1{
        margin-bottom: 1rem;
    }
    main section:first-child > p{
        margin-bottom: 3rem;
        font-size: 1rem;
    }

    footer a{
        font-size: 0.75rem;
    }

    h1{
        font-size: 1.75rem;
    }

    .tre p{
        margin: 0 auto !important;
        width: 90% !important;
        margin-bottom: 24px !important;
    }
    
    ul {
        width: 70%;
        right: -70%;
    }
}

@media only screen and (min-width: 566px) and (max-width: 576px){
    ul{
        transition: none;
    }
}
