:root{
    --shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --header: #6D1A36;
    --bg: #F9FAFB;
    --footer: oklch(27.8% 0.033 256.848);
    --titulo: oklch(21% 0.034 264.665);
    --texto: oklch(44.6% 0.03 256.802);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
}

header{
    position: sticky;
    top: -3px;
    z-index: 500;
    background-color: var(--header);
    padding: 2rem;
    box-shadow: var(--shadow);
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.header-imgs > img{
    display: inline-block;
    background-color: white;
    width: 80px;
    height: 60px;
    padding: 5px;
    border-radius: 6px;
    aspect-ratio: 16 / 9;
    margin-right: 20px;
    object-fit: cover;
}

.ipn{
    padding: 0;
}

ul{
    display: block;
    margin-bottom: 0;
}

ul li{
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}

ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
}

ul>li:not(.cuenta):hover{
    background-color: #8d1a46;
}

.cuenta{
    background-color: #DADCE0;
}

.cuenta:hover{
    background-color: #CBBCC5;
}

.cuenta a{
    color: black;
}

.izq{
    display: flex;
}

header > div{
    display: inline-block;
    color: white;
}

header h4{
    margin: 0;
    font-weight: bold;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo p{
    margin: 0;
    color: #DFDCE2;
}

#carouselExampleCaptions{
    box-shadow: var(--shadow);
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
    border-radius: 16px;
}

#carouselExampleCaptions, .carousel-item, header svg{
    border-radius: 16px;
}

h1{
    font-size: 2.25rem;
}
h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
h1, h2{
    font-weight: bold;
    color: var(--titulo);
    text-align: center;
}

main p{
    color: var(--texto);
}
/*EL TAMAÑO DEL FORMULARIO*/
main section:first-child{
    text-align: center;
    width: 30%;
    margin: auto;
}

main section:first-child > h1{
    margin-bottom: 1rem;
}
main section:first-child > p{
    margin-bottom: 3rem;
    font-size: 1.25rem;
}

section > div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    width: 95%;
    margin: auto;
    margin-bottom: 3rem;
}

article{
    background-color: white;
    border: #e5e5e5 1px solid;
    border-radius: 0.75rem;
    text-align: center;
    padding: 1.5rem;
}

figure{
    display: inline-block;
    padding: 1.5rem;
    background-color: var(--header);
    border-radius: 100%;
    margin-bottom: 2rem;
}

h3{
    font-size: 1.25rem;
    font-weight: bold;
}

.sub{
    color: var(--header);
    font-weight: 600;
    margin-bottom: 0;
}

main section:nth-child(3){
    background-color: #EFF6FF;
    text-align: center;
    width: 95%;
    margin: auto;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

h5{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

main section:nth-child(3) p{
    width: 70%;
    margin: auto;
    margin-bottom: 1.5rem;
}

main section:nth-child(3) a{
    display: inline-block;
    background-color: var(--header);
    padding: 0.75rem 2rem;
    border-radius: 8px;
    color: white;
    font-weight: 500;
}

a{
    text-decoration: none;
}

.ir:hover{
    background-color: #8d1a46;
}

footer{
    background-color: var(--footer);
    color: white;
}

div.container.text-center{
    display: flex;
    flex-direction: column;
}

footer a{
    color: #9097A6;
    text-decoration: none;
}

footer div.mt-2{
    display: flex;
    flex-direction: column;
}

.shield-wrap {
  background-color: rgba(21, 93, 252);
  width: 72px;
  height: 72px;
}
/*
main{
    background-color: green;
  }
section{
    background-color: #8d1a46;
  }
  .card{
    background-color: blue;
  }
*/
  

  .btn-ipn {
      background-color: rgba(21, 93, 252);
      color: #fff;
      border: none;
    }

  .btn-ipn:hover  { 
    background-color: rgb(22, 85, 221); 
    color: #fff; 
  }

  .btn-ipn:active { 
    background-color: rgb(22, 85, 221);
    color: #fff; 
  }

  .btn-ipn:focus  {
    background-color: rgb(22, 85, 221);
    color: #fff;
    box-shadow: 0 0 0 0.10rem rgb(157, 185, 245);
  }

#menu{
    display: none;
}

@media only screen and (max-width: 1055px) {
    .titulo{
        display: none;
    }
}

@media only screen and (max-width: 808px) {
    
    header{
        justify-content: space-between;
        z-index: 99999 !important;
    }

    #menu{
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 1.8rem;
        margin-left: auto;  /* waos */
        padding: 4px 12px;
        border-radius: 6px;
    }

    #menu:hover{
        background-color: #8d1a46;
    }

    ul a{
        color: black !important;
    }

    .cuenta{
        background-color: white;
    }

    .cuenta:hover, li:hover{
        background-color: #DADCE0 !important;
    }

    #cerrar{
        display: block;
        background: none;
        border: none;
        font-size: 1.5rem;
    }

    .asd{
        display: flex;
        justify-content: end;
    }
    .asd:hover{
        background-color: white !important;
    }

    .pantalla-moderna {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(8px);
        z-index: 9998 !important;
    } 

    ul{
        background-color: white;
        position: fixed;
        top: 0;
        right: -50%;
        z-index: 99999 !important;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100dvh;
        transition: right 0.3s ease;
    }

    ul.activo{ 
        right: 0 !important; 
    }
    
}

@media only screen and (max-width: 769px) {
    section > div{
        grid-template-columns: 1fr;
    }
    .cartas{
        width: 80%;
        margin: auto;
    }

    #carouselExampleCaptions{
        width: 90%;
    }  
}

@media only screen and (min-width: 808px){
    #cerrar{
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .cartas{
        width: 95%;
        margin: auto;
    }

    #carouselExampleCaptions{
        width: 95%;
    }

    main section:first-child{
        width: 90%;
        margin: auto;
    }

    main section:first-child > h1{
        margin-bottom: 1rem;
    }
    main section:first-child > p{
        margin-bottom: 3rem;
        font-size: 1rem;
    }

    footer a{
        font-size: 0.75rem;
    }

    h1{
        font-size: 1.75rem;
    }

    .tre p{
        margin: 0 auto !important;
        width: 90% !important;
        margin-bottom: 24px !important;
    }
    
    ul {
        width: 70%;
        right: -70%;
    }
}

@media only screen and (min-width: 566px) and (max-width: 576px){
    ul{
        transition: none;
    }
}